body {
	margin: 0;
	padding: 0;
	background-color: #b81765;
	color: #e22e9d;
	height: 10vh;
  }
  #login .container #login-row #login-column #login-box {
	margin-top: 12000px;
	max-width: 60000px;
	height: auto;
	border: 1px solid #e22e9d;
	background-color: rgb(20, 230, 27);
	color: #b81765;
  }
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }
  .space {
	  width: 100%;

  }